body{
  background-color: black;
  margin: 0;
  font-family: Roboto, open-sans, Arial, Helvetica, sans-serif;
  padding: 50px 0px 40px 0px;
}

p{
  margin: 0;
}

button{
  padding: 0;
}

h1 , h2 , h3 , h4 , h5{
  margin: 0;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  width: 250px;
}

.title-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h3{
  text-align: center;
  margin-bottom: 15px;
  color: rgb(215, 202, 202);
}

.style-inputBox{
  background-color: black;
  color: rgb(215, 202, 202);
  height: 30px;
  width: 100%;
  padding: 5px 5px;
  font-size: 20px;
  font-weight: 900;
  padding: 0;
  margin-bottom: 10px;
  text-align: end;
  border: none;
}

input.style-inputBox{
  border: none;
  outline: none;
}

.style-inputBox::placeholder{
  padding-right: 6px;
  color: rgb(215, 202, 202);
  font-size: 20px;
  font-weight: 900;
}

.calculator-button-container{
  display: flex;
  flex-direction: column;

}

.button-row{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.calculator-button, .calculator-button-operator{
  flex: 1;
  font-size: 15px;
  text-align: center;
}

.ac-button, .zero-button{
  flex: 2;
  text-align: center;
}

.calculator-button button, .calculator-button-operator button{
  font-weight: 900;
  padding: 10px 10px;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
}

.ac-button button,.zero-button button{
  font-weight: 900;
  padding: 10px 10px;
  border: none;
  height: 50px;
  width: 117px;
  border-radius: 35px;
  text-align: center;
}

.ac-button button{
  background-color: #888888;
  color: white;
}

.calculator-button button, .zero-button button{
  background-color: #282828;
  color: white;
}

.calculator-button-operator button{
  background-color: #f7a625;
  color: white;
}

.calculator-button button, 
.calculator-button-operator button, 
.ac-button button, 
.zero-button button{
  transition: all ease 250ms;
}

.calculator-button button:hover, 
.calculator-button-operator button:hover, 
.ac-button button:hover, 
.zero-button button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.calculator-button button:active, 
.calculator-button-operator button:active, 
.ac-button button:active, 
.zero-button button:active{
  border: 1px;
  border-style: solid;
  border-color: #f7a625;
}




