body{
  margin: 0;
  font-family: Open Sans, sans-serif;
  color: rgb(85, 85, 85);
}

p{
  margin: 0;
  font-family: Roboto, Arial;
}

h2, h4, h5{
  margin: 0;
}

.wrapper-outer{
  background-color: #1F1B4F;
  position: relative;
  width: 100%;
  height: 3200px;
  background-attachment: scroll;}



